// Enter original variables here

// Text Colors
$text-title-grey: #1D0157;
$text-grey: #1D0157;
$text-light-grey: #1D0157; //#6E7073;
$text-muted-grey: #1D0157; //#CAD0D9;

$light-grey: #D7F5EE;
$blue: #038493;
$light-blue: #4DB7A2;
$yellow: #FE8D1F;
$dark-yellow: #FE8D1F;
$blue-muted: #4DB7A2; //#284667;
$blue-primary: #038493; //#448ABE;
$grey-muted: #E6FCF7;
//$black-shadow: rgba(0, 0, 0, 0.25);
//$purple-shadow-light: rgba(41, 26, 88, 0.24);


//Gradients
$blue-gradient: #1D0157 !important; //linear-gradient(180deg, rgba(68, 138, 190, 1) 0%, rgba(40, 70, 103, 1) 100%) !important;

$blue-muted-gradient: #1D0157 !important; //linear-gradient(180deg, rgba(62, 123, 171, 1) -50%, rgba(40, 70, 103, 1) 100%) !important;
//$orange-gradient: linear-gradient(180deg, rgba(248,127,34,1) 0%, rgba(181,82,5,1) 100%);
