//
// Component: Column
//
// ========================================================================



// Variables
// ========================================================================

$column-gutter:                                  $global-gutter !default;
$column-gutter-l:                                $global-medium-gutter !default;

$column-divider-rule-color:                      $global-border !default;
$column-divider-rule-width:                      1px !default;



// Inverse
// ========================================================================

$inverse-column-divider-rule-color:                     $inverse-global-border !default;