//
// Component: Container
//
// ========================================================================


// Variables
// ========================================================================

$container-max-width:                    1200px !default;
$container-xsmall-max-width:             750px !default;
$container-small-max-width:              900px !default;
$container-large-max-width:              1600px !default;

$container-padding-horizontal:           15px !default;
$container-padding-horizontal-s:         $global-gutter !default;
$container-padding-horizontal-m:         $global-medium-gutter !default;