//
// Component: Drop
//
// ========================================================================



// Variables
// ========================================================================

$drop-z-index:                               $global-z-index + 20 !default;
$drop-width:                                 300px !default;
$drop-margin:                                $global-margin !default;
