//
// Component: Height
//
// ========================================================================


// Variables
// ========================================================================

$height-small-height:                            150px !default;
$height-medium-height:                           300px !default;
$height-large-height:                            450px !default;
