//
// Component: Off-canvas
//
// ========================================================================


// Variables
// ========================================================================

$offcanvas-z-index:                              $global-z-index !default;

$offcanvas-bar-width:                            270px !default;
$offcanvas-bar-padding-vertical:                 $global-margin !default;
$offcanvas-bar-padding-horizontal:               $global-margin !default;
$offcanvas-bar-background:                       $global-background;
$offcanvas-bar-color-mode:                       dark;

$offcanvas-bar-width-m:                          350px !default;
$offcanvas-bar-padding-vertical-m:               $global-medium-gutter !default;
$offcanvas-bar-padding-horizontal-m:             $global-medium-gutter !default;

$offcanvas-close-position:                       20px !default;
$offcanvas-close-padding:                        5px !default;

$offcanvas-overlay-background:                   rgba(0,0,0,0.1) !default;

