//
// Component: Placeholder
//
// ========================================================================


// Variables
// ========================================================================

$placeholder-margin-vertical:                    $global-margin !default;
$placeholder-padding-vertical:                   $global-gutter !default;
$placeholder-padding-horizontal:                 $global-gutter !default;
$placeholder-background:                         $global-muted-background !default;


//
// New
//

$placeholder-border-width:                       $global-border-width !default;
$placeholder-border:                             $global-border !default;

