//
// Component: Thumbnav
//
// ========================================================================


// Variables
// ========================================================================

$thumbnav-margin-horizontal:                     15px !default;
$thumbnav-margin-vertical:                       $thumbnav-margin-horizontal !default;

//
// New
//

$thumbnav-item-background:                       rgba($global-background, 0.4) !default;
$thumbnav-item-hover-background:                 transparent !default;
$thumbnav-item-active-background:                transparent !default;
