//
// Component: Transition
//
// ========================================================================


// Variables
// ========================================================================

$transition-duration:                            0.3s !default;

$transition-scale:                               1.1 !default;

$transition-slide-small-translate:               10px !default;
$transition-slide-medium-translate:              50px !default;

$transition-slow-duration:                       0.7s !default;
